%form(action="#" onsubmit="return false")
    .clearfix
        %label(for='password') New Password:
        %input.password(type="password" name="password")
    %input.btn.primary(type="submit" value="Reset Password")
