%p Comment connecter votre Nabaztag:tag à notre serveur (à n’utiliser qu’en cas de problème de connexion ou si votre Nabaztag:tag a été paramétré sur un autre serveur) :
%ul
    %li Mettez votre lapin en mode configuration : débranchez votre Nabaztag:tag, appuyez sur le bouton sur sa tête et, tout en maintenant le bouton appuyé, rebranchez-le. Lorsque toutes les lumières sont bleues, relâchez le bouton.
    %li Connectez-vous avec votre ordinateur sur le réseau wifi créé par votre Nabaztag:tag, nommé NabaztagXX (XX étant les 2 derniers chiffres de l'adresse MAC indiquée sous le lapin).
    %li Sur votre ordinateur, allez sur la page de configuration à l’adresse http://192.168.0.1
    %li Cliquez sur « Advanced configuration », vérifiez que la ligne « Firmware » indique bien 0.0.0.10
    %li En bas de page, dans le tableau « General Info » et le cadre « Violet Platform », entrez l’adresse suivante : r.nabaztag.com/vl 
    %li Validez avec « Update settings ». Votre Lapin devrait alors se connecter à notre serveur. 

%p How to connect your Nabaztag:tag to our server (only if you have connections problems or if your Nabaztag:tag is set with another server)
%ul
    %li Set up your rabbit in configuration mode: unplug your Nabaztag:tag, push the button on its head and hold it while you plug again your rabbit. When all the lights are blue, you can release the button.
    %li On your computer, connect to the wifi network created by your Nabaztag:tag – name should be NabaztagXX, with the two last numbers of the MAC address under your rabbit instead of XX.
    %li Go to the Configuration page at the following address: http://192.168.0.1
    %li Click on “Advanced configuration “ and check that “Firmware “ is 0.0.0.10
    %li At the bottom of the page, in “General Info”, insert in the “Violet Platform” box the following address: r.nabaztag.com/vl
    %li Click on “Update settings”. After that, your rabbit will connect to our server.
