%h3 Passage en mode configuration

%p Afin de connecter votre lapin sur mon serveur, vous devez dans un premier temps mettre votre lapin en mode configuration.
%p Pour cela, il faut le débrancher, appuyer sur le bouton sur sa tête, et le brancher tout en maintenant l'appui sur le bouton. Dès que les lumières sont bleues, vous pouvez lâcher le bouton.

%h3 Connexion au réseau wifi du lapin

%p Ensuite, il va falloir vous connecter avec votre ordinateur sur le réseau wifi que le lapin vient de créer, nommé NabaztagXX (XX représente les 2 derniers chiffres de l'adresse MAC du lapin).

%h3 Changement de serveur

%p Une fois connecté sur le réseau wifi du lapin, il faut aller sur la page de configuration de celui ci : http://192.168.0.1
%p Vous devriez alors avoir une page qui ressemble à celle-ci :

%img(src="http://dl7l6a5kdjekq.cloudfront.net/image/fetch.png")

%p Tout d'abord, on vérifier que le firmware du lapin est le bon, en cliquant sur “Advanced configuration”, puis en allant tout en bas, afin de trouver un tableau comme celui qui suit :

%img(src="http://dl7l6a5kdjekq.cloudfront.net/image/infos.jpg")


%p La ligne “Firmware” doit indiquer 0.0.0.10. Si ce n'est pas le cas, il faudra mettre à jour le firmware.

%p Maintenant, il faut mettre le nom du nouveau serveur: www.nabalive.com/vl (ou un autre si vous le désirez) dans la case “Violet Plateform”. Enfin, il ne vous reste plus qu'à enregistrer, et le lapin devrait redémarrer tout seul, puis se connecter sur le serveur.