%h1 Version Beta, tout compte peut être supprimé à tout moment

%p Pour configurer votre Nabaztag, il suffit de s'enregistrer et d'ajouter votre lapin.

%p Si auparavant vous aviez changé le serveur vous devez reconfigurer votre Nabaztag
%p Violet Platfrom: r.nabaztag.com/vl