%h1 Bienvenue sur le site www.nabaztag.com
%h2 Faites renaître vos nabaztag:tag.

%p Ici, vous allez pouvoir vous créer un compte, vous enregistrer, connecter votre nabaztag:tag, lui installer des applications parmi celles disponibles.

%p Nous tenions à adresser un grand merci à toutes les personnes ayant contribué à Open Jab Nab et autres serveurs opensource, sans qui nous n’aurions pas pu procéder à ce nouveau départ.

%p Avant toute chose, vous devez vous connecter :
    %ul
        %li Cliquez sur Login si vous avez déjà un compte créé sur ce site. 
        %li Cliquez sur Register pour vous créer un compte
        %li Si vous avez oublié votre mot de passe, cliquez sur Login puis « Forgot ». Entrez alors votre adresse email, puis cliquez sur « Send Email ».

%h2 HELP / SUPPORT :
%p
    Si vous avez besoin d’aide, rendez-vous ici :
        %a(href="http://nabaztag.forumactif.fr/f98-nabalive-le-serveur-officiel-de-vos-nabaztagtags") SUPPORT
%p
    %a(href="#connection") Problèmes de connection
%h3 Sources :
%a(href="https://github.com/jcheype/NabAlive") NabAlive sur github

%h2 ATTENTION : 
%p
    Si vous avez un 
    %b nabaztag v1
    , vous ne pourrez pas le reconnecter en passant par ce site. 
    Un grand effort est fournit par la communauté ( en particulier Wizz.cc) pour faire fonctionner les V1 voir ici: 
    %a(href="http://nabaztag.forumactif.fr/t13785-v1-ressusciter-son-v1-et-pourquoi-pas-creer-son-serveur#352348") ressusciter son v1


