.nab2nabs
    .content
    .footer
        %p Nab2Nabs : système d’abonnement et d’envoi de messages vocaux entre Nabaztag.
        %p
            %i Semblable au fonctionnement de Twitter : on s’abonne aux lapins des personnes dont on souhaite recevoir les messages.
        %ul
            %li Bouton « List » : fait apparaître la liste des lapins auxquels l’utilisateur est abonné. Pour s’abonner aux lapins de quelqu’un et recevoir ses messages : ajouter l’adresse mail d’un compte utilisé sur www.nabalive.com et cliquer sur « Add ». L’utilisateur peut ajouter sa propre adresse pour entendre ses propres messages.
            %li Bouton « tts » : permet d’envoyer des messages textes vers les lapins abonnés
            %li Bouton « sound » : permet d’envoyer un son Internet vers les lapins abonnés
            %li Garder le bouton de Nabaztag:tag appuyé permet d’enregistrer un message vocal court (5 secondes) et de l’envoyer vers les lapins abonnés : appuyer sur le bouton jusqu’à apparition de la lumière rouge d’enregistrement, parler près du micro et lâcher le bouton en fin d’enregistrement.
        