.nabaztagItem
    .nab
            .name= name
            .action
                .label.btn.info.action action
                .label.btn.success.config ?
                .label.btn.danger.delete X
    .apps