%form#addNabaztag(action="#" onsubmit="return false")
    %fieldset
        %legend Add Nabaztag
        .clearfix
            %label(for='mac') mac:
            %input(type='text' name='mac')
        .clearfix
            %label(for='name') name:
            %input(type='text' name='name')
        .actions
            %input.btn.primary(type="submit" value="Add")
            
.info 
    %ul
        %li Le nabaztag doit être connecté pour pouvoir l'ajouter à votre compte.
        %li Entrez l'adresse MAC de votre lapin sans séparateur et en minuscule.
