.nabaztagCollection
    .content
    .action
        .addNabaztag.btn Add Nabaztag
        
    .doc
        %ul
            %li Pour connecter votre lapin cliquez sur "add Nabaztag"
            %li Clicquez sur le nom de votre lapin pour afficher les applications installées, cliquez sur "?" pour modifier la configuration de l'application.
            %li Ne pas oublier d'installer des applications sur votre lapin préféré en cliquant sur l'onglet "Applications"
        
    