.applicationItem(rel="popover" data-content="#{description}" data-original-title="#{name}")
    .icon
        %img(src="/applications/#{apikey}/logo.png")
    .content
        .title= name
    .action
        .label.btn.info.install Install