.modal.hide.fade
    .modal-header Installation of #{name}
    .modal-body
        %form(action="#" onsubmit="return false")
            .clearfix
                %label(for='nabaztag') Nabaztag:
                %select(name='nabaztag')
    .modal-footer
        %button.btn.primary.select Select
        %button.btn.cancel Cancel